.container {
    background-color: rgb(37, 0, 67);
    border-radius: 1em;
    box-shadow: 10px 10px 5px 0px black;
    display: flex;
    max-height: 100%;
}

.name {
    display: flex;
    background-color: rgba(199, 163, 249, 0.5);
    color: black;
    font-size: 15px;
    padding: 0.25em;
}

.status {
    display: flex;
    background-color: rgba(199, 163, 249, 0.5);
    color: black;
    font-size: 15px;
    padding: 0.25em;
}

.species {
    display: flex;
    background-color: rgba(199, 163, 249, 0.5);
    color: black;
    font-size: 15px;
    padding: 0.25em;
}

.gender {
    display: flex;
    background-color: rgba(199, 163, 249, 0.5);
    color: black;
    font-size: 15px;
    padding: 0.25em;
}

.image {
    max-width: 100%;
    max-height: 100%;
    width: 190px;
    border-radius: 1em;
}

.boton {
    border: 0px;
    background-color: greenyellow;
    width: fit-content;
    height: fit-content;
    border-radius: 2.5px;
    transition: .3s;
    cursor: pointer;
}

.boton:hover {
    background-color: green;
}